.primerBloque img{
    width: 288px;
    height: 180px;
    float: left;
}

h1{
    text-align: left;
    color: rgb(244, 208, 63);
    padding-left: 38%;
}

h2{
    text-align: left;
    padding-top: 25px;

}

body{
    background-color: rgb(203, 67, 53);
}

.segundoBloque img{
    width: 157.5px;
    height: 210.15px;
}

.BloqueFinal img{
    width: 288px;
    height: 180px;
}