<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute Page</title>
    <link rel="shortcut icon" href="/imagenes/HarryPotterLogo.png" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="primerBloque">
        <h1>Autor del sitio web</h1>
        <p>
            Diego Portillo -
            Estudiante de tercer año de Ingeniería
        </p>
        <a href="https://github.com/DAP-web" target="_blank">Ver perfil de GitHub</a>
    </div>
    <div class="segundoBloque">
        <h2>Who is the author of Harry Potter?</h2>
        <p>
            Joanne "Jo" Rowling (nacida en Yate, Reino Unido, 31 de julio de 1965), mejor conocida como J. K. Rowling,[1][2] es la autora británica de la historia fantástica de Harry Potter, el niño mago huérfano. Nació en Chipping Sodburry, South Gloucestershire.

            Su editor, Bloomsbury, quiso que ella utilizara sus iniciales en la portada de los libros de Harry Potter, indicando que un nombre femenino en la portada atraería menos el interés de los niños, por lo que decidió utilizar el nombre de su abuela paterna "Kathleen".

            En febrero de 2004, la revista Forbes indicó que la fortuna de Rowling ascendía a 576 millones de libras esterlinas, convirtiéndose en la primera persona en hacerse millonaria escribiendo libros. Es la mujer más rica del Reino Unido, y mucho más rica que la reina Isabel II.

            La escritora obtuvo el Premio Príncipe de Asturias de la Concordia en el año 2003.

            Los fanáticos de la serie Harry Potter son llamados PotterHeads. Rowling ha escrito Los cuentos de Beedle el Bardo, Animales fantásticos y dónde encontrarlos y Quidditch a través de los tiempos que complementan la serie Harry Potter. Al principio solo se habían hecho 7 copias hechas a mano de Los cuentos de Beedle el Bardo, 6 vendidas y uno subastado, todo el dinero fue donado a caridad, pero después Rowling decidió publicarlo para destinar el dinero recaudado de todas las copias vendidas a caridad, este proyecto lo llevó a cabo con la Baronesa de Inglaterra.
        </p>
        <img src="/imagenes/JKRowling.jpg" alt="Harry Potter Logo" id="segundaImg">
        <br>
        <stron><a href="https://harrypotter.fandom.com/es/wiki/J._K._Rowling" target="_blank">Leer más sobre JKRowling</a></stron>
    </div>

    <br>
</body>
</html>